body{
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 70%;
}
h1{
    text-align: center;
    font-size: 70px;
    margin-top: 60px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    color: red;
    font-family: American Typewriter, serif;
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  
}
.box-1{
    border: 1px solid black;
    background-color: #ffffff;
    margin: 30px auto;
    width: 500px;
    border-radius: 2%;
    text-align: center;
    justify-content: center;
    display: flex;
}
.box-2{
    text-align: center;
    justify-content: center;
}
p[class="box1"]{
    font-size: 20px;
    margin: 10px auto;
}
p[class="box2"]{
    color: white;
    width: 500px;
    margin: auto;
}
input[id="vercode"]{
    width: 150px;
    height: 20px;
}
button{
    display: inline-block;
    text-align: center;
    margin: 10px auto;
    border-radius: 8px;
}
button:hover{
    background-color: #66afe9;
    border-radius: 8px;
}

div[class = "impliect"]{
    border: 1px solid black;
    background-color: red;
}
p[class = "impliect"]{
    color: white;
}

.backButton{
    display: inline-block;
    margin: 20px auto;
}
form{
    display: inline-block;
}
button[id="back_to_login"], button[id="Sign_up"]{
    font-size: 17px;
}
button[id="back_to_login"]{
    margin-right: 10px;
}
button[id="Sign_up"]{
    margin-left: 10px;
}