body {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 70%;
}

h2 {
    text-align: center;
    font-size: 70px;
    margin-top: 60px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    color: red;
    font-family: American Typewriter, serif;
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
}

table {
    width: 70%;
    margin: auto;
    word-wrap: break-word;
}

th {
    text-align: left;
    height: 50px;
    padding-left: 5px;
    background-color: #dedada;
    font-size: 24px;
}

td {
    text-align: left;
    height: auto;
    padding-left: 7px;
}

table,
th,
td {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 70%;
    border: 3px #beabab solid;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
}

div[class="button"] {
    width: 400px;
    height: 80px;
    border: black, solid, 2px;
    border-radius: 8px;
    background-color: rgb(115, 149, 241);
    font: 20px black;
    font-weight: 700;
    margin: 20px auto;
    padding: 5px;
    text-align: center;
    justify-content: center;
    display: flex;
}
div[class="name"]{
  margin: 10px auto;
  height: 24px;
  text-transform: capitalize;
}
div[class="person"]{
  margin: 10px auto;
  height: 24px;
}

div.loggedin{
  position: relative;
  width:100px;
  height:100px;
  border-radius:50px;
  }
div.showInfo{
position: fixed;
justify-content: center;
right:10px;
top: 0px;
font-family: Arial, Helvetica, sans-serif;
background-color: #0097a7;
border-radius: 10px;
text-align: center;
width: auto;
height: auto;
max-width: 30%;
}
form[id="iff"]{
text-align: center;
justify-content: center;
}
p.showInfo{
font-size: 10px;
color: white;
margin: 5px auto;
}

button[id="logout"]{
margin: 7px 7px 10px 7px;
border-radius: 8px;
}
button[id="logout"]:hover{
margin: 7px 7px 10px 7px;
background-color: #0097a7;
color: white;
border-radius: 8px;
}