body{
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 70%;
}
h1{
    text-align: center;
    font-size: 70px;
    margin-top: 60px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    color: red;
    font-family: American Typewriter, serif;
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  
}
.box-2{
    border: 1px solid white;
    border-radius: 2%;
    background: white;
    width: 500px;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
    display: flex;
}
p{
    font-size: 20px;
    margin: 20px auto;
}
input{
    width: 150px;
    height: 20px;
}
button[id="btn1"]{
    margin: 20px auto;
    width: 150px;
    height: 25px;
    border-radius: 8px;
}
button[id="btn1"]:hover{
    background-color: #66afe9;
    border-radius: 8px;
}