<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/homepages.css">
    <script src="/js/homepages.js"></script>
    <title>Home Pages</title>
</head>

<body>
    <div class="container">
        <h1>Magic Matrix Home Page</h1>
        <div class="box-1" id="box-1">
            <div class="multiplayer" onclick="func1()">
                <p class="multiplayer">Going To Multiplayer Games</p>
            </div>
            <div class="single-player" onclick="func2()">
                <p class="single-player">Going To Single-player Games</p>
            </div>
        </div>
        <div class="showInfo">
            <form action="/login" method="post" id="if">
                <p class="showInfo"><%=userName%></p>
                <button id="logout" onclick="signOut();">Logout</button>
                <script>
                    function signOut() {
                        var auth2 = gapi.auth2.getAuthInstance();
                        auth2.signOut().then(function () {
                            console.log('User signed out.');
                        });
                    }
                </script>
            </form>
        </div>
    </div>
</body>

</html>