<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Login</title>
    <meta name="google-signin-client_id" content="683116473849-oiad5878q079scaq6eobqkvveqd5fbv1.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/googleLogin.js"></script>
  </head>
  <body class ="login">
        <form action="/home" method="POST">
            <div class="homeBar">
                <button class="homeBar" name="button">Home</button>
            </div> 
        </form>
      <div class="login"> 
          <p id="impliect" style=" text-align: center; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <% if(determine == -1) {%>
          <!-- <p style="color: red; text-align: center; font-size: 24px;"> Wrong Password</p>-->
          <script>
            document.getElementById("impliect").innerHTML = "Wrong Password";
            document.getElementById("impliect").style.color = "red";
          </script>
        <%} else if (determine == -2){%>
          <script>
              document.getElementById("impliect").innerHTML = "Empty Username, Please Sign Up";
              document.getElementById("impliect").style.color = "red";
            </script>
        <%}%>
          <form action="/login/interface" method="POST">    
            <div class=userName>Username: <input class="userName" id="us" type="text" name="userName" placeholder="Enter Username" required><br></div>
            <div class=passWord1>Password: <input class="passWord1" id="ps" type="password" name="passWord" placeholder="Enter Password" required><br></div>
            <label class="remember">
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            <button class="login" id = "login">Login</button>
          </form>         
            <form action="/signup" method="POST">
                <button id="signupHere" class="signupHere">If you dont have a account, sign up here</button>
            </form>
             <div class="g-signin2" data-onsuccess="onSignIn"></div>
             <!-- write by kevin -->
             <form action="/login/reset" method="POST">
                <span class="forgotPassword">Forgot <input id="forgotPage" class="forgotPassword" type="submit" value="Password?"></span>
            </form>
            <!-- write by kevin -->
      </div>

    </body>
 </html>