<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/newPasswordDone.css">
    <title>Add New Password</title>
</head>
<body>
    <div class="container">
        <% if ( rows == 1) { %>
            <h2>Successfully Reset Password</h2>
            <script>
                setTimeout(function(){
                    var temp = document.createElement("form");
                    document.body.appendChild(temp);
                    temp.method = "POST";
                    temp.action = "/login";
                    temp.submit();
                }, 1500);
            </script>
        <% } else if (rows == 0) { %>
            <h2>Not Successfully Reset Password</h2>
            <p>Please Check your email and try again</p>
            <script>
                    setTimeout(function(){
                        var temp = document.createElement("form");
                        document.body.appendChild(temp);
                        temp.method = "POST";
                        temp.action = "/login";
                        temp.submit();
                    }, 1500);
            </script>
        <% };%>
    </div>
</body>
</html>