<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/newPassword.css">
    <script src="/js/newPassword.js"></script>
    <title>New Password</title>
</head>

<body>
    <div class="container">
        <div class="box-1">
            <form action="/login1">
                <button name="button" class="back">Back To login</button>
            </form>
        </div>
        <h1>Set A New Password</h1>
        <div class="box-2">
            <form action="/login/reset/<%=rows%>/set_new_password" method="POST">
                <p>New Password :</p>
                <input type="password" name="newPassword" id="newPassword">
                <p>Repeat Password :</p>
                <input type="password" name="rePassword" id="rePassword">
                <input type="text" name="recemail" style="display: none;" value="<%=rows%>">
                <br>
                <button name="button" id="btn1" onclick="forribid1()"> Set New Password</button>
            </form>
        </div>
    </div>
</body>

</html>