<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/room.js"></script>
    <title>ROOM</title>
</head>

<body>
    <div class="container">
        <div class="box-1">
            <h2 id="room"><%=room%></h2>
        </div>
        <div class="backButton">
            <button class="button" onclick="back()">Exit Room</button>
        </div>
    </div>
    <div class="showInfo">
        <form action="/login" method="post" id="if">
            <p class="showInfo" id="showInfo"><%=username%></p>
            <button id="logout" onclick="signOut();">Logout</button>
            <script>
                function signOut() {
                    var auth2 = gapi.auth2.getAuthInstance();
                    auth2.signOut().then(function () {
                        console.log('User signed out.');
                    });
                }
            </script>
        </form>
    </div>
</body>

</html>