<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/tot.css">
    <title>Start</title> 
  </head>
  <body>
    <div class="but" id = "oop">
      <button type="button" id ="button" onclick = "test()"><strong>Getting Start!!</strong></button>
    </div>
    <div class="word" id = "follow">Click Button to Play game</div>
    <div class="matrix" id = "mmm">
    <div class="box" id="box">
    <div class="container" id="matrix">
      <div class="card" onclick="flip(event)" value = "-1">
        <div class="front">
          <h1></h1>
        </div>
        <div class="back" >
          <h1></h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card" onclick="flip(event)" value = "-1">
        <div class="front">
          <h1></h1>
        </div>
        <div class="back">
          <h1></h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card" onclick="flip(event)" value = "-1">
        <div class="front">
          <h1></h1>
        </div>
        <div class="back">
          <h1></h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card" onclick="flip(event)" value = "-1">
        <div class="front">
          <h1></h1>
        </div>
        <div class="back">
          <h1></h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card" onclick="flip(event)" value = "-1">
        <div class="front">
          <h1></h1>
        </div>
        <div class="back">
          <h1></h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card" onclick="flip(event)" value = "-1">
        <div class="front">
          <h1></h1>
        </div>
        <div class="back">
          <h1></h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card" onclick="flip(event)" value = "-1">
        <div class="front">
          <h1></h1>
        </div>
        <div class="back">
          <h1></h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card" onclick="flip(event)" value = "-1">
        <div class="front">
          <h1></h1>
        </div>
        <div class="back">
          <h1></h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card" onclick="flip(event)" value = "-1">
        <div class="front">
          <h1></h1>
        </div>  
        <div class="back">
          <h1></h1>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="/js/tot.js"></script>
  </body>
</html>
